<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>SL Stock opening Price Prediction</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='sri-lanka-flag-waving-icon-256.png') }}">

    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/bootstrap-select.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


</head>

<body id="page-top" style="background:#334d50">

<div id="popUpMain">
    <div id="popup">

    </div>
</div>

<!-- Page Wrapper -->
<div id="wrapper" style="background:#cbcaa5">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" style="background:#0f3443" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <img style="width:70px;height:50px" src="{{ url_for('static', filename='sri-lanka-flag-waving-icon-256.png')}}" >
            </div>
            <div class="sidebar-brand-text mx-3">SL STOCK PREDICTOR</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider">
        <form class="form-group" style="text-align:center;" method="POST" action="/process">
            <!-- Heading -->
            <div class="sidebar-brand-text mx-5" style="color:white;">
                Stock File
            </div>

            <select class="selectpicker " data-live-search="true" name="stock_file_name" >
                {% for i in range(0, stock_len) %}
                <option>{{ sl_stock_files[i] }}</option>
                {% endfor %}


            </select>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-brand-text mx-3" style="color:white;">
                ML Prediction Model
            </div>
            <select class="selectpicker" multiple data-live-search="true" name="Prediction_Model" required>
                <option value="linear_regression">Linear Regression</option>
                <option value="SVR_rbf">SVM (RBF)</option>
                <option value="random_forests">Random Forests</option>
                <option value="KNN">K Nearest Neighbors (KNN)</option>
                <option value="DT">Decision Trees</option>
            </select>

              <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-brand-text " style="color:white;">
                No of Days to Forecast
            </div>
            <div class="sidebar-brand-text mx-2" >
                <input id="H_id" name="H_id" type="number"
								class="form-control"   min="1" max="15" data-live-search="true" required>
            </div>


            <br><br>
            <input type="submit" value="Submit" class="btn btn-success" style="color:white;">
        </form>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column"style="background:#243b55">
        <!-- Main Content -->
        <div id="content"style="background:#007991">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow"style="background:#0f3443">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <h4 style="color:white;">STOCK OPENING AND CLOSING PREDICTION MODELS</h4>


            </nav>
            {% if show_results_output == "false" %}
            <p style="text-align:center;margin-top:15%;color:white">
                    <i class="fas fa-cogs fa-5x" style="color:#304352;"></i>
                    <br/>
                    <br/>
                    Start Analysis
                </p>
            <div class="container-fluid" style="display:none;">

                {% else %}
                <div class="container-fluid">
                    {% endif %}
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"style="background:#0f3443">
                                    <h6 style="color:white;">ACTUAL VS PREDICTED STOCK OPENING PRICE</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="color:#00bf8f">
                                    <div class="chart-area" >
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h4 style="color:white;">PREDICTION RESULTS OF SL STOCK OPENING PRICE</h4>
                            <p style="color:white;">The following table shows the original opening value of stock along with its
                                predicted opening value on <br>Date: {{ prediction_result_date }}.</p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background:#0f3443">
                                    <h6 style="color:white;">PREDICTIONS</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>MODEL</th>
                                                <th>OPENING VALUE</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in range(0, len_2) %}
                                            <tr>
                                                <td> {{ all_prediction_stock_data[i][0] }}</td>
                                                <td>LKR : {{ all_prediction_stock_data[i][1] }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                          <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h4 style="color:white;">PREDICTION RESULTS OF SL STOCK CLOSE PRICE</h4>
                            <p style="color:white;">The following table shows the original close value of stock along with its
                                predicted close value on <br>Date: {{ prediction_result_date }}.</p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background:#0f3443">
                                    <h6 style="color:white;">PREDICTIONS</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>MODEL</th>
                                                <th>CLOSE VALUE</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in range(0, len_2) %}
                                            <tr>
                                                <td> {{ all_close_price[i][0] }}</td>
                                                <td>LKR : {{ all_close_price[i][1] }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                            <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h4 style="color:white;">PREDICTION RESULTS OF STOCK OPENING PRICE FOR TOMORROW</h4>
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background:#0f3443">
                                    <h6 style="text-align:center; color:white;"> STOCK OPENING PRICE RANGE TOMORROW</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>MIN PRICE</th>
                                                <th>MAX PRICE</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>LKR : {{min_price}}</td>
                                                <td>LKR : {{max_price}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                            <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h4 style="color:white;">Predicting {{len3}} days into future</h4>
                            <p style="color:white;">Predicted stock values for the next {{len3}} days at now at your finger tips ! Check below  </p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background:#0f3443">
                                    <h6 style="color:white;">Predicting {{len3}} days into future</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable13" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>date</th>
                                                <th>price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in range(0,len3) %}
                                            <tr>
                                                <td> {{ forcastingdate[i] }}</td>
                                                <td>LKR : {{ forcasting[i] }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>






                          <div class="container-fluid">

                            <!-- Page Heading -->
                            <h4 style="color:white;">MODEL EVALUATION</h4>
                            <p style="color:white;">The following table shows the Mean Squared Error (MSE) for the different models. The lower the value, the better it is.</p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3"style="background:#0f3443">
                                    <h6 style="color:white;">TEST EVALUATION</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>MODEL</th>
                                                <th>MEAN SQUARED ERROR (MSE)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in range(0, len_2 - 1) %}
                                            <tr>
                                                <td>{{ all_test_evaluations[i][0] }}</td>
                                                <td>{{ all_test_evaluations[i][1] }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer" style="background:#0f3443" >
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                         <marquee><span>Copyright &copy; SLIIT Stock Price Prediction - 2020</span> </marquee>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='css/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script>



    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var alldates = {{ dates|safe }} ;
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: alldates,
    datasets: [{% for i in range(0, len) %}
              {
              label: {{ all_stock_data[i][2] | tojson }},
              lineTension: 0.3,

              backgroundColor: "rgba(0, 0, 0, 0.05)",
              borderColor: {{ all_stock_data[i][3] | tojson}},
              pointRadius: 3,
              pointBackgroundColor: {{ all_stock_data[i][3] | tojson}},
              pointBorderColor: {{ all_stock_data[i][3] | tojson}},
              pointHoverRadius: 3,
              pointHoverBackgroundColor: "rgba(0, 0, 0, 1)",
              pointHoverBorderColor: "rgba(78, 115, 223, 1)",
              pointHitRadius: 10,
              pointBorderWidth: 2,
              showLine: {{ all_stock_data[i][1] | safe}},
              data: [{% for item in all_stock_data[i][0] %}
                        {{item}},
                      {% endfor %}],
              },

              {%endfor%}
              ],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 15
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 10,
          padding: 10,
          // Include a dollar sign in the ticks
<!--          callback: function(value, index, values) {-->
<!--            return '$' + number_format(value);-->
<!--          }-->
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: true
    },
    tooltips: {
      backgroundColor: "rgb(0, 0, 0)",
      bodyFontColor: "#f0f8ff",
      titleMarginBottom: 10,
      titleFontColor: '#fff8dc',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ':' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});
$('select').selectpicker();



<!--====================================================================================================-->




    </script>


</body>

</html>
